### Tutorial 3- Pyspark With Python-Pyspark DataFrames- Handling Missing Values

- Dropping Columns
- Dropping Rows
- Various Parameter in Dropping functionalities
- Handling Missing values by Mean, Median and More

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [123]:
df_pyspar = spark.read.csv('test3.csv', header=True,inferSchema=True)

In [5]:
df_pyspar.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   John|  35|        10| 60000|
|  Emily|  28|         5| 45000|
|Michael|  40|        15| 75000|
|  Sarah|  33|         8| 52000|
|  David|  45|        20| 85000|
|   Emma|  30|         7| 48000|
| Daniel|  38|        12| 68000|
|Jessica|NULL|         9| 55000|
|   Ryan|  29|          | 42000|
|   NULL|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [6]:
## Drop the columns
df_pyspar.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  35|        10| 60000|
|  28|         5| 45000|
|  40|        15| 75000|
|  33|         8| 52000|
|  45|        20| 85000|
|  30|         7| 48000|
|  38|        12| 68000|
|NULL|         9| 55000|
|  29|          | 42000|
|NULL|      NULL|  NULL|
+----+----------+------+

In [7]:
df_pyspar.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   John|  35|        10| 60000|
|  Emily|  28|         5| 45000|
|Michael|  40|        15| 75000|
|  Sarah|  33|         8| 52000|
|  David|  45|        20| 85000|
|   Emma|  30|         7| 48000|
| Daniel|  38|        12| 68000|
|Jessica|NULL|         9| 55000|
|   Ryan|  29|          | 42000|
|   NULL|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [8]:
df_pyspar.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   John| 35|        10| 60000|
|  Emily| 28|         5| 45000|
|Michael| 40|        15| 75000|
|  Sarah| 33|         8| 52000|
|  David| 45|        20| 85000|
|   Emma| 30|         7| 48000|
| Daniel| 38|        12| 68000|
|   Ryan| 29|          | 42000|
+-------+---+----------+------+

In [9]:
### any==how

df_pyspar.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   John| 35|        10| 60000|
|  Emily| 28|         5| 45000|
|Michael| 40|        15| 75000|
|  Sarah| 33|         8| 52000|
|  David| 45|        20| 85000|
|   Emma| 30|         7| 48000|
| Daniel| 38|        12| 68000|
|   Ryan| 29|          | 42000|
+-------+---+----------+------+

In [10]:
spark.read.csv('test3.csv', header=True,inferSchema=True).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   John|  35|        10| 60000|
|  Emily|  28|         5| 45000|
|Michael|  40|        15| 75000|
|  Sarah|  33|         8| 52000|
|  David|  45|        20| 85000|
|   Emma|  30|         7| 48000|
| Daniel|  38|        12| 68000|
|Jessica|NULL|         9| 55000|
|   Ryan|  29|          | 42000|
|   NULL|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [11]:
### threshold

df_pyspar.na.drop(how='any',thresh=2).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   John|  35|        10| 60000|
|  Emily|  28|         5| 45000|
|Michael|  40|        15| 75000|
|  Sarah|  33|         8| 52000|
|  David|  45|        20| 85000|
|   Emma|  30|         7| 48000|
| Daniel|  38|        12| 68000|
|Jessica|NULL|         9| 55000|
|   Ryan|  29|          | 42000|
+-------+----+----------+------+

In [12]:
### Subset

df_pyspar.na.drop(how='any', subset=['Experience']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   John|  35|        10| 60000|
|  Emily|  28|         5| 45000|
|Michael|  40|        15| 75000|
|  Sarah|  33|         8| 52000|
|  David|  45|        20| 85000|
|   Emma|  30|         7| 48000|
| Daniel|  38|        12| 68000|
|Jessica|NULL|         9| 55000|
|   Ryan|  29|          | 42000|
+-------+----+----------+------+

In [129]:
### Filling the missing value

df_pyspar.na.fill('Missing Value',['Experience', 'Age']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   John|  35|        10| 60000|
|  Emily|  28|         5| 45000|
|Michael|  40|        15| 75000|
|  Sarah|  33|         8| 52000|
|  David|  45|        20| 85000|
|   Emma|  30|         7| 48000|
| Daniel|  38|        12| 68000|
|Jessica|NULL|         9| 55000|
|   Ryan|  29|      NULL| 42000|
|   NULL|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [108]:
df_pyspar.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   John|  35|        10| 60000|
|  Emily|  28|         5| 45000|
|Michael|  40|        15| 75000|
|  Sarah|  33|         8| 52000|
|  David|  45|        20| 85000|
|   Emma|  30|         7| 48000|
| Daniel|  38|        12| 68000|
|Jessica|NULL|         9| 55000|
|   Ryan|  29|      NULL| 42000|
|   NULL|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [135]:
from pyspark.ml.feature import Imputer

Imputer = Imputer (
    inputCols=['Age','Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience', 'Salary']]
).setStrategy("mean")

In [139]:
# Add imputation cols to df

Imputer.fit(df_pyspar).transform(df_pyspar).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|   John|  35|        10| 60000|         35|                10|         60000|
|  Emily|  28|         5| 45000|         28|                 5|         45000|
|Michael|  40|        15| 75000|         40|                15|         75000|
|  Sarah|  33|         8| 52000|         33|                 8|         52000|
|  David|  45|        20| 85000|         45|                20|         85000|
|   Emma|  30|         7| 48000|         30|                 7|         48000|
| Daniel|  38|        12| 68000|         38|                12|         68000|
|Jessica|NULL|         9| 55000|         34|                 9|         55000|
|   Ryan|  29|      NULL| 42000|         29|                10|         42000|
|   NULL|NULL|      NULL|  NULL|         34|                10|         58888|
+-------+----+----------+------+-----------+------------------+--------------+