### Tutorial 5- Pyspark With Python-GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('Test5.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+---------------+-----------+------+
|           Name|Departments|Salary|
+---------------+-----------+------+
|       John Doe|      Sales| 50000|
|       John Doe|         HR| 60000|
|      John Doen|         IT| 70000|
|    Emily Davis|    Finance| 55000|
|    Emily Davis|  Marketing| 58000|
| Jessica Wilson|         IT| 65000|
|Daniel Martinez|    Finance| 62000|
|   Sarah Taylor|      Sales| 51000|
|   Sarah Taylor|         HR| 59000|
|   Sarah Taylor|         IT| 68000|
|   Sarah Taylor|  Marketing| 57000|
+---------------+-----------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
### GroupBy operation
## Group to find the maximun salary
df_pyspark.groupBy('Name').sum().show()

+---------------+-----------+
|           Name|sum(Salary)|
+---------------+-----------+
|    Emily Davis|     113000|
|Daniel Martinez|      62000|
|       John Doe|     110000|
| Jessica Wilson|      65000|
|      John Doen|      70000|
|   Sarah Taylor|     235000|
+---------------+-----------+

In [8]:
## Group departments which gives maximun salary
df_pyspark.groupBy('Departments').sum().show()

+-----------+-----------+
|Departments|sum(Salary)|
+-----------+-----------+
|      Sales|     101000|
|         HR|     119000|
|    Finance|     117000|
|  Marketing|     115000|
|         IT|     203000|
+-----------+-----------+

In [9]:
df_pyspark.groupBy('Departments').mean().show()

+-----------+-----------------+
|Departments|      avg(Salary)|
+-----------+-----------------+
|      Sales|          50500.0|
|         HR|          59500.0|
|    Finance|          58500.0|
|  Marketing|          57500.0|
|         IT|67666.66666666667|
+-----------+-----------------+

In [10]:
df_pyspark.groupBy('Departments').count().show()

+-----------+-----+
|Departments|count|
+-----------+-----+
|      Sales|    2|
|         HR|    2|
|    Finance|    2|
|  Marketing|    2|
|         IT|    3|
+-----------+-----+

In [11]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     655000|
+-----------+

In [12]:
df_pyspark.groupBy('Name').max().show()

+---------------+-----------+
|           Name|max(Salary)|
+---------------+-----------+
|    Emily Davis|      58000|
|Daniel Martinez|      62000|
|       John Doe|      60000|
| Jessica Wilson|      65000|
|      John Doen|      70000|
|   Sarah Taylor|      68000|
+---------------+-----------+

In [13]:
df_pyspark.groupBy('Name').min().show()

+---------------+-----------+
|           Name|min(Salary)|
+---------------+-----------+
|    Emily Davis|      55000|
|Daniel Martinez|      62000|
|       John Doe|      50000|
| Jessica Wilson|      65000|
|      John Doen|      70000|
|   Sarah Taylor|      51000|
+---------------+-----------+

In [14]:
df_pyspark.groupBy('Name').avg().show()

+---------------+-----------+
|           Name|avg(Salary)|
+---------------+-----------+
|    Emily Davis|    56500.0|
|Daniel Martinez|    62000.0|
|       John Doe|    55000.0|
| Jessica Wilson|    65000.0|
|      John Doen|    70000.0|
|   Sarah Taylor|    58750.0|
+---------------+-----------+