### DATAFRAMES

- Filter Operations
- AND OR EQUAL
-

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataFrame').getOrCreate()

In [3]:
df_pyspark = spark.read.csv('test4.csv', header=True, inferSchema=True)

In [4]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   John| 35|        10|  6000|
|  Emily| 28|         5| 45000|
|Michael| 40|        15| 75000|
|  Sarah| 33|         8|  5200|
|  David| 45|        20| 85000|
|   Emma| 30|         7| 48000|
| Daniel| 38|        12| 68000|
+-------+---+----------+------+

## Filter Operations

In [5]:
### Salary of people less than or equal to 20.000

In [6]:
df_pyspark.filter("Salary<=20000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 35|        10|  6000|
|Sarah| 33|         8|  5200|
+-----+---+----------+------+

In [7]:
df_pyspark.filter("Salary<=20000").select(['Name', 'Age', 'Experience']).show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| John| 35|        10|
|Sarah| 33|         8|
+-----+---+----------+

In [8]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| John| 35|        10|  6000|
|Sarah| 33|         8|  5200|
+-----+---+----------+------+

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=5300)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|John| 35|        10|  6000|
+----+---+----------+------+