## Tutorial 2-Pyspark With Python-Pyspark DataFrames- Part 1

- PySpark Dataframe
- Reading the Dataframe
- Checking in Datatypes of a Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping Columns
- Renaming columns

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

## Read the Dataset

In [16]:
df_pyspark=spark.read.option('header','true').csv('test.csv',inferSchema=True)

In [10]:
spark.read.option('header','true').csv('test.csv').show()

+-----+---+----------+
| NAME|AGE|EXPERIENCE|
+-----+---+----------+
|Chris| 27|        10|
|Aleja| 30|         8|
|David| 18|         4|
+-----+---+----------+

In [18]:
## Check the Schema
df_pyspark.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)

In [20]:
df_pyspark=spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+
| NAME|AGE|EXPERIENCE|
+-----+---+----------+
|Chris| 27|        10|
|Aleja| 30|         8|
|David| 18|         4|
+-----+---+----------+

In [22]:
df_pyspark.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)

In [24]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

Q: What is a Dataframe?
A: A dataframe es data structures.

In [30]:
df_pyspark.head(3)

[Row(NAME='Chris', AGE=27, EXPERIENCE=10),
 Row(NAME='Aleja', AGE=30, EXPERIENCE=8),
 Row(NAME='David', AGE=18, EXPERIENCE=4)]

In [32]:
df_pyspark.show()

+-----+---+----------+
| NAME|AGE|EXPERIENCE|
+-----+---+----------+
|Chris| 27|        10|
|Aleja| 30|         8|
|David| 18|         4|
+-----+---+----------+

In [42]:
#How to pick a single column
df_pyspark.select('NAME').show()

+-----+
| NAME|
+-----+
|Chris|
|Aleja|
|David|
+-----+

In [44]:
#How to pick multiple columns
df_pyspark.select(['NAME','AGE']).show()

+-----+---+
| NAME|AGE|
+-----+---+
|Chris| 27|
|Aleja| 30|
|David| 18|
+-----+---+

In [48]:
df_pyspark['NAME']

Column<'NAME'>

In [50]:
df_pyspark.dtypes

[('NAME', 'string'), ('AGE', 'int'), ('EXPERIENCE', 'int')]

In [54]:
df_pyspark.describe().show()

+-------+-----+-----------------+-----------------+
|summary| NAME|              AGE|       EXPERIENCE|
+-------+-----+-----------------+-----------------+
|  count|    3|                3|                3|
|   mean| NULL|             25.0|7.333333333333333|
| stddev| NULL|6.244997998398398|3.055050463303893|
|    min|Aleja|               18|                4|
|    max|David|               30|               10|
+-------+-----+-----------------+-----------------+

In [62]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('EXPERIENCE AFTER 2 YEARS', df_pyspark['EXPERIENCE']+2)

In [64]:
df_pyspark.show()

+-----+---+----------+------------------------+
| NAME|AGE|EXPERIENCE|EXPERIENCE AFTER 2 YEARS|
+-----+---+----------+------------------------+
|Chris| 27|        10|                      12|
|Aleja| 30|         8|                      10|
|David| 18|         4|                       6|
+-----+---+----------+------------------------+

In [70]:
### Drop the columns
df_pyspark = df_pyspark.drop('EXPERIENCE AFTER 2 YEARS')

In [72]:
df_pyspark.show()

+-----+---+----------+
| NAME|AGE|EXPERIENCE|
+-----+---+----------+
|Chris| 27|        10|
|Aleja| 30|         8|
|David| 18|         4|
+-----+---+----------+

In [78]:
### Rename a Column
df_pyspark.withColumnRenamed('NAME', 'New Name').show()

+--------+---+----------+
|New Name|AGE|EXPERIENCE|
+--------+---+----------+
|   Chris| 27|        10|
|   Aleja| 30|         8|
|   David| 18|         4|
+--------+---+----------+